
.aboutBox {
    display: flex;
    width: 900px;
    height: 900px;
    
    background-color: aliceblue;
    border: none;
    box-shadow: aliceblue;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
  }
  
  .aboutBox h1{
    color: #7D3C98;
  }
  
  .aboutBox p {
    padding-left: 12px;
  }
  
  .faq{
    list-style: none;
    padding-left: 1px;
  }

  .purpleheart{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .purplegear{
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }